{% spaceless %}
<!DOCTYPE html>
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no" />
            <meta name="format-detection" content="telephone=no" />
            <title>User ({{ title }})</title>
            <base />
{# Css #}
            {% block css %}
                {# Uses c975L/IncludeLibraryBundle #}
                {{ inc_lib('bootstrap', 'css', '3.*') }}
                {{ inc_lib('fontawesome', 'css', '5.*') }}
            {% endblock %}
{# Javascript #}
            {% block javascript %}
                {# Uses c975L/IncludeLibraryBundle #}
                {{ inc_lib('jquery', 'js', '3.*') }}
                {{ inc_lib('bootstrap', 'js', '3.*') }}
            {% endblock %}
        {% endblock %}
    </head>
{# Body #}
    <body>
        <div>
            {% block user_content %}
            {% endblock %}
        </div>
    </body>
</html>
{% endspaceless %}