{% trans_default_domain 'user' %}

<p class="alert alert-warning text-center">
{# Already signedin info #}
    {{ 'text.already_signedin_warning'|trans }}
    <br />
{# Profile #}
    <a href="{{ path('user_display') }}" rel="nofollow" title="{{ 'label.view_profile'|trans }}">
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-eye-open white"></span> {{ 'label.view_profile'|trans }}
        </button></a>
    <br />
{# Dashboard #}
    <a href="{{ path('user_dashboard') }}" rel="nofollow" title="{{ 'label.dashboard'|trans }}">
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-dashboard white"></span>
            {{ 'label.dashboard'|trans }}
        </button></a>
    <br />
{# Sign out#}
    <a href="{{ path('user_signout') }}" rel="nofollow" title="{{ 'label.signout'|trans }}">
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-log-out white"></span> {{ 'label.signout'|trans }}
        </button></a>
</p>