{% extends "@c975LUser/layout.html.twig" %}
{% trans_default_domain 'user' %}
{% set title = 'label.change_password'|trans %}

{% block user_content %}
{# Toolbar #}
    {{ toolbar|raw }}
{# Avatar #}
    {% if user_gravatar() == true %}
        <p class="text-center">
            <img class="img-circle" src="{{ app.user.avatar }}" width="128" height="128" />
        </p>
{# Avatar information #}
        <p class="text-center">
            {{ 'text.gravatar_picture'|trans|raw }}
        </p>
    {% endif %}
{# Password requirement #}
    <p class="alert alert-warning text-center">
        {{ 'password.requirement'|trans({}, 'validators') }}
    </p>
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Submit #}
        <div class="form-group">
            <input type="submit" value="{{ 'label.validate'|trans({}, 'toolbar') }}" class="btn btn-block btn-lg btn-primary" />
        </div>
    {{ form_end(form) }}
{# Mandatory field #}
    <p class="text-muted">
        <em>
            {{ 'label.mandatory_field'|trans }}
        </em>
    </p>
{% endblock %}