{% extends "@c975LUser/layout.html.twig" %}
{% trans_default_domain 'user' %}
{% set title = 'label.delete_account'|trans %}

{% block user_content %}
{# Toolbar #}
    {{ toolbar|raw }}
{# Avatar #}
    {{ user_avatar() }}
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Delete account acceptance #}
        <div class="checkbox">
            <label for="deleteAccepted" class="required">
                <input type="checkbox" id="deleteAccepted" name="deleteAccepted" required="required" />
                {% include('@c975LUser/fragments/deleteAccountInfo.html.twig') %}
            </label>
        </div>
{# Submit #}
        <div class="form-group">
            <input type="submit" id="_submit" name="_submit" value="{{ 'label.delete'|trans({}, 'toolbar') }}" class="btn btn-block btn-lg btn-danger" />
        </div>
{# Cancel #}
        <p class="text-center">
            <a href="javascript:history.back()" title="{{ 'label.cancel'|trans({}, 'toolbar') }}">
                {{ 'label.cancel'|trans({}, 'toolbar') }}</a>
        </p>
    {{ form_end(form) }}
{% endblock %}