{% extends "@c975LUser/layout.html.twig" %}
{% trans_default_domain 'user' %}
{% set title = 'label.delete_account'|trans %}

{% block user_content %}
{# Toolbar #}
    {{ toolbar|raw }}
{# Avatar #}
    {% if user_gravatar() == true %}
        {% include('@c975LUser/fragments/avatar.html.twig') %}
    {% endif %}
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Delete account info #}
        {% include('@c975LUser/fragments/deleteAccountInfo.html.twig') %}
{# Submit #}
        <div class="form-group">
            <input type="submit" id="_submit" name="_submit" value="{{ 'label.delete'|trans({}, 'toolbar') }}" class="btn btn-block btn-lg btn-danger" />
        </div>
    {{ form_end(form) }}
{% endblock %}