{% extends "@c975LUser/layout.html.twig" %}
{% trans_default_domain 'user' %}
{% set title = 'label.user_profile_modify'|trans %}

{% block user_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LUser/tools.html.twig', 'modify', 'md', user) }}
{# Avatar #}
    {{ user_avatar() }}
{# Avatar information #}
    {% if 'gravatar.com' in user_avatar() %}
        <p class="text-center">
            {{ 'text.gravatar_picture'|trans|raw }}
        </p>
    {% endif %}
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Form layout #}
        <div><input id="formLayout" type="hidden" value="{{ config('c975LUser.formLayout') }}" /></div>
{# Submit #}
        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.validate'|trans({}, 'toolbar') }}" class="btn btn-lg btn-primary btn-block">
                {{ 'label.validate'|trans({}, 'toolbar') }}
            </button>
        </div>
{# Cancel #}
        <p class="text-center">
            <a href="#" onclick="javascript:history.back(); return false;" title="{{ 'label.cancel'|trans({}, 'toolbar') }}">
                {{ 'label.cancel'|trans({}, 'toolbar') }}</a>
        </p>
    {{ form_end(form) }}
{# Mandatory field #}
    <p class="text-muted">
        <em>
            {{ 'label.mandatory_field'|trans({}, 'services') }}
        </em>
    </p>
{# Includes javascript files #}
    {% if userBusiness == true %}
        <script type="text/javascript">
{# Translations #}
            var userBusinessTrans = {
                'user_profile_businessName': "{{ 'label.business_name'|trans }}",
                'user_profile_businessAddress': "{{ 'label.address'|trans }}",
                'user_profile_businessAddress2': "{{ 'label.address2'|trans }}",
                'user_profile_businessPostal': "{{ 'label.postal'|trans }}",
                'user_profile_businessTown': "{{ 'label.town'|trans }}",
                'user_profile_businessCountry': "{{ 'label.country'|trans }}",
                'user_profile_businessSiret': "{{ 'label.siret'|trans }}",
                'user_profile_businessVat': "{{ 'label.vat'|trans }}",
            };
{# Values #}
            var userBusinessValues = {
                'user_profile_businessName': "{{ app.user.businessName }}",
                'user_profile_businessAddress': "{{ app.user.businessAddress }}",
                'user_profile_businessAddress2': "{{ app.user.businessAddress2 }}",
                'user_profile_businessPostal': "{{ app.user.businessPostal }}",
                'user_profile_businessTown': "{{ app.user.businessTown }}",
                'user_profile_businessCountry': "{{ app.user.businessCountry }}",
                'user_profile_businessSiret': "{{ app.user.businessSiret }}",
                'user_profile_businessVat': "{{ app.user.businessVat }}",
            };
        </script>
        {{ inc_lib(absolute_url(asset('bundles/c975luser/js/business.min.js')), 'local') }}
    {% endif %}
{% endblock %}