{% extends "@c975LUser/layout.html.twig" %}
{% trans_default_domain 'user' %}
{% set title = 'label.reset_password'|trans %}

{% block user_content %}
{# Reset password info #}
    <p class="text-center">
        {{ 'text.reset_password_info'|trans }}
    </p>
{# Password requirement #}
    <p class="alert alert-warning text-center">
        {{ 'password.requirement'|trans({}, 'validators') }}
    </p>
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{# Mandatory field #}
    <p class="text-muted">
        <em>
            {{ 'label.mandatory_field'|trans }}
        </em>
    </p>
{% endblock %}