{% extends "@c975LUser/layout.html.twig" %}
{% trans_default_domain 'user' %}
{% set title = 'label.reset_password'|trans %}

{% block user_content %}
{# Reset password info #}
    <p class="text-center">
        {{ 'text.reset_password_info'|trans }}
    </p>
{# Password requirement #}
    <p class="alert alert-warning text-center">
        {{ 'password.requirement'|trans({}, 'validators') }}
    </p>
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Submit #}
        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.validate'|trans({}, 'toolbar') }}" class="btn btn-lg btn-primary btn-block">
                {{ 'label.validate'|trans({}, 'toolbar') }}
            </button>
        </div>
{# Cancel #}
        <p class="text-center">
            <a href="{{ path('pageedit_home') }}" title="{{ 'label.cancel'|trans({}, 'toolbar') }}">
                {{ 'label.cancel'|trans({}, 'toolbar') }}</a>
        </p>
    {{ form_end(form) }}
{# Mandatory field #}
    <p class="text-muted">
        <em>
            {{ 'label.mandatory_field'|trans({}, 'services') }}
        </em>
    </p>
{% endblock %}