{% extends "@c975LUser/layout.html.twig" %}
{% trans_default_domain 'user' %}
{% set title = 'label.dashboard'|trans({}, 'toolbar') %}

{% block user_content %}
{# Toolbar #}
    {{ toolbar|raw }}
{# Avatar #}
    {{ user_avatar() }}
{# Actions #}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'label.actions'|trans }}</h3>
            </div>
            <div class="panel-body">
{# User's personalised dashboard actions #}
                {% include('@c975LUser/fragments/dashboardActions.html.twig') %}
{# Profile title #}
                <h3>
                    {{ 'label.profile'|trans }}
                </h3>
{# View profile #}
                <p>
                    <a href="{{ path('user_display') }}">
                        {{ 'label.view_profile'|trans }}</a>
                </p>
{# View public profile #}
                {% if publicProfile == true %}
                    <p>
                        <a href="{{ path('user_public_profile', {'identifier': user.identifier}) }}">
                            {{ 'label.view_public_profile'|trans }}</a>
                    </p>
                {% endif %}
{# Modify profile #}
                <p>
                    <a href="{{ path('user_modify') }}">
                        {{ 'label.modify_profile'|trans }}</a>
                </p>
{# Change password #}
                <p>
                    <a href="{{ path('user_change_password') }}">
                        <span class="text-warning">
                            {{ 'label.change_password'|trans }}
                        </span></a>
                </p>
{# Delete account #}
                <p>
                    <a href="{{ path('user_delete') }}">
                        <span class="text-danger">
                            {{ 'label.delete_account'|trans }}
                        </span></a>
                </p>
{# Sign out #}
                <p>
                    <a href="{{ path('user_signout') }}">
                        {{ 'label.signout'|trans }}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}