{% extends "@c975LUser/layout.html.twig" %}
{% trans_default_domain 'user' %}
{% set title = 'label.public_profile'|trans %}

{% block user_content %}
{# Avatar #}
    {% set avatar = user_avatar() %}
    {% if avatar != null %}
        <div class="col-xs-12 col-sm-4">
            {{ avatar|raw }}
        </div>
        <div class="col-xs-12 col-sm-8">
    {% else %}
        <div class="col-xs-12">
    {% endif %}
{# Firstname #}
        <p>
            {{ 'label.firstname'|trans }} : <strong>{{ user.firstname }}</strong>
        </p>
{# Member since #}
        <p>
            {{ 'label.member_since'|trans }} : <strong>{{ user.creation|localizeddate('medium', 'none') }}</strong>
        </p>
    </div>
{% endblock %}